<rx-page title="'Text Input'">
  <h3 class="clear">Text Input States</h3>
  <p>
    This page provides examples of the different text input states.
  </p>

  <h4>Plain Text Input</h4>
  <p>
    Plain text input without validation.
  </p>
  <rx-example name="text.input.plain"></rx-example>

  <h4>Text Input with Scroll (Incrementor/Decrementor)</h4>
  <p>
    Text input with value that can be entered than incremeneted and decremented
    with the scroll.  The incrementor may also be utilized without a value.
  </p>
  <rx-example name="text.input.scroll.plain"></rx-example>

  <h4>Disabled Text Input</h4>
  <p>
    Disabled text input with value.
  </p>
  <rx-example name="text.input.disabled.plain"></rx-example>

  <h4>Text Input with Validtion</h4>
  <p>
    Text input validation can be provdied with active validation that checks
    each keystroke until the valid criteria is met, or it can check validation
    after an entry is made.  Select/Deselect the <code>checkbox</code> to view
    the different behaviors.
  </p>
  <rx-example name="text.input.validation"></rx-example>
</rx-page>
